<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spreadsheet Splitter</title>

  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div id="main-section">
    <h1>Planilhão<br/>Separador de Planilhas</h1>

    <form id="split-spreadsheet-form">
      <div class="input-group split-size">
        <label for="split-size">Qtd. de linhas por planilha</label>
        <input type="number" name="split-size" id="split-size" value="1000" />
      </div>

      <div class="input-group">
        <input type="file" name="split-file" id="split-file"/>
      </div>

      <div class="input-group">
        <input type="submit" id="submit-button" value="Submeter">
      </div>
    </form>
  </div>

  <script src="/index.js"></script>
</body>
</html>