<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spreadsheet Splitter</title>

  <style>
    *{
      margin: 0;
      padding: 0;
    }

    body{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: azure;
    }

    #main-section{
      padding: 15px 25px;
      border: 2px solid black;
      border-radius: 15px;
    }

    #main-section h1{
      text-align: center;
      font-style: italic;
      margin-bottom: 20px;
    }

    label{
      font-size: 1.3rem;
    }

    .input-group{
      width: 100%;
      margin-bottom: 15px;
    }

    .space-between{
      display: flex;
      justify-content: space-between;
    }

    #split-size{
      width: 60px;
      text-align: center;
    }

    #submit-button{
      padding: 10px;
      border-radius: 3px;
      border: 1px solid black;
    }
</style>
</head>
<body>
  <div id="main-section">
    <h1>Planilhão<br/>Separador de Planilhas</h1>

    <form id="split-spreadsheet-form">
      <div class="input-group split-size">
        <label for="split-size">Qtd. de linhas por planilha</label>
        <input type="number" name="split-size" id="split-size" value="1000" />
      </div>

      <div class="input-group">
        <input type="file" name="split-file" id="split-file"/>
      </div>

      <div class="input-group">
        <input type="submit" id="submit-button" value="Submeter">
      </div>
    </form>
  </div>
</body>
</html>